.App {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
}

.markdown h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1em;
}

.markdown h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.75em;
}

.markdown h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.75em;
}
